$base00: #212121 !default;
$base01: #3d3d3d !default;
$base02: #595959 !default;
$base03: #757575 !default;
$base04: #919191 !default;
$base05: #adadad !default;
$base06: #c9c9c9 !default;
$base07: #e6e6e6 !default;
$base08: #ff0054 !default;
$base09: #fd7e47 !default;
$base0a: #fbff12 !default;
$base0b: #3bfc43 !default;
$base0c: #00f5d4 !default;
$base0d: #1CA0AE !default;
$base0e: #1982c4 !default;
$base0f: #6210c2 !default;